<div class="jumbotron jumbotron-fluid add-doctor-container">
  <h2>Add a doctor (Only for CGM Admins)</h2>
  <form class="form-horizontal" (ngSubmit)="f.form.valid && addDoctor()" #f="ngForm" novalidate>
    <div class="form-group" [ngClass]="{ 'has-error': f.form.invalid }">
      <label for="name">Name</label>
      <input type="text" class="form-control"
             name="name" id="name" placeholder="Jane Doe"
             [(ngModel)]="model.name"
             required>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.form.invalid }">
      <label for="number">Number</label>
      <input type="tel" class="form-control"
             name="number" id="number" placeholder="0495858696"
             [(ngModel)]="model.number"
             required>
    </div>
    <br/>
    <span *ngIf="!currentUser.isAdmin()" class="alert-info">Only admin users can add doctors (see @RolesAllowed inside DoctorResource)</span>

    <br/>
    <button type="submit" [disabled]="!currentUser.isAdmin()" class="btn btn-primary add-button">Add doctor</button>
  </form>
</div>
