<div class="row landing-banner">
  <div class="col-xs-6 left-block">
    <h1 class="title hidden-xs">Ut nec volutpat eros. Suspendisse vel pellentesque mi. In sit amet aliquet libero, nec ultricies
      lorem.</h1>
    <h4 class="title hidden-xs hidden-sm"> Nunc maximus
      enim sit amet elit efficitur placerat. Suspendisse eu posuere purus. Donec eu sem cursus dui imperdiet ullamcorper
      nec vel nibh. Vivamus at dolor eu eros hendrerit viverra non egestas tellus.</h4>
    <br/>
    <a [routerLink]="['/login']" class="btn btn-primary ">Login</a>
    <a [routerLink]="['/registration']" class="btn btn-default">Registration</a>

  </div>
  <div class="col-xs-6 col-xs-offset-6 middle-block"></div>
  <img class="image" src="https://unsplash.it/1200/400/?random&{{number}}">

</div>
